:root{
    --primary-color:  rgb(235, 219, 222);
    --secondary-color: rgb(42, 41, 42);
    --heading-font-family: 'PT Serif', serif;
    --secondary-font-family: Arial, Helvetica, sans-serif;
}
.main-button {
    background-color: var(--secondary-color);
}
.main-button:hover{
    border: 1px solid var(--secondary-color);
    color: white;
}
.content-button {
    background-color: var(--secondary-color);
}
.content-button:hover {
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color)

}
.secondary {
    padding-top: 150px;
}

body {
    background-color: var(--primary-color);
}
h1 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 20px;
}
.headings {
    font-family: var(--heading-font-family);
    font-size: 45px;
    margin-bottom: 20px;
}

.container-1 {
    background-color: white;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
}
.container-2 {
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
}
.container-3 {
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
}
.container-4 {
    background-color: white;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 100px;
}
.content {
    margin-top: 20px;
    border-radius: 20px;
    
}

.details-section {
    text-align: center;
}
.details-section-2 {
    text-align: center;
}
.intro-1 {
    font-family: var(--secondary-font-family);
    font-size: 45px;
    padding-top: 100px;
}
.intro-career {
    font-family: var(--secondary-font-family);
    font-size: 40px;
    padding-bottom: 75px;

}
.hero {
    background-color: var(--primary-color);
    text-align: center;
    width: 100%;
    height: 600px;
}
.btn {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 0;
    padding: 20px 30px;
}


.container {
    display: flex;
    justify-content: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
  }
  
  @media (max-width: 767px) {
    h1 {
        font-size: 50px;
    }
    .intro-1 {
        font-size: 35px;
    }
    .intro-career {
        font-size: 25px;
    }
    .grid-container {
      grid-template-columns: 1fr;
    }
    .content-button {
        margin-bottom: 50px;
        margin-top: 50px;
    }
}
@media(max-width: 767px) {
    .details-section-2,
    .world-section {
      width: 100%;
    }
    .world-section img {
      max-width: 100%;
      height: auto;
    }
  }
footer {
    text-align: center;
    padding-bottom: 100px;
}
.logo-final {
    width: 75px;
}
.container-about {
    margin-top: 100px;
   margin-bottom: 100px;
    background-color: white;
    
}
.about-row {
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 100px;
    margin-right: 100px;
}
.img-claudia {
    border-radius: 20px;
   
}
.img-weather {
    border-radius: 20px;
}
.img-clock {
    border-radius: 20px;
}
.img-travel {
    border-radius: 20px;
}
.img-art {
    border-radius: 20px;
}
.project-btn {
   text-align: center;
}
.paragraph-about {
    margin-bottom: 30px;
}
.work-intro {
    margin-top: 100px;
    margin-bottom: 100px !important;
}
.content-container {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.contact-container {
    padding: 100px;
}